body {
    color:blue;
    background-color: rgb(200, 240, 243)
 }
 
a {
    color:blue;
    background-color: rgb(200, 240, 243) }
        
h1{
    text-align:center;
    color: rgb(12, 185, 238);
    font-family: Libre Baskerville;
    font-size: 45px;
    border: 25px inset rgb(96, 173, 224);
p {
    text-align: center;
}
        }
#column-content {
    display:inline-block;
    position: relative;
    
}        
.text-left {
    
    text-align: left !important;
   }
.mainmenu {
    backround-color: rgb(25, 144, 199);
    color: black;
    border:none;
    cursor:pointer;
    padding: 20px;
    margin-top: 20px;
    }
.dropdown {
    position: relative;
    display:inline-block;
}
.dropdown-1 {
    display:none;
    backround-color: black;
    min-width:200px;
}
.dropdown-2 {
    display:none;
    backround-color: black;
    min-width:200px;    
}
.dropdown-child a{
    color: aliceblue;
    padding: 20px;
    text-decoration: blue;
    display:block;
    
}
.dropdown:hover .dropdown-1 {
  
    display:block;
}
.dropdown:hover .dropdown-2 {
  
    display:block;   
}
img{
    text-align:center;    
    height: 300x;
    width: 470px;
    border: 7px solid #0db1f1; 
    }
.sign {
        float: left; 
        width: 70%;
        border: 1px solid #333; 
        padding: 5px; 
        margin: 20px; 
        background: rgb(202, 228, 236); 
       }
       
       .sign figcaption {
        text-align:center;
       }
      
      
      option {
               -moz-white-space: pre-wrap;
        -o-white-space: pre-wrap;
        white-space: pre-wrap;
               overflow: hidden;
        text-overflow: ellipsis;
       
        border-bottom: 1px solid #DDD;
      }
